/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  max-width: 70%;
}
a {
  text-decoration: none;
  color: white;
}
.triangle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 25px 0 25px;
  border-color: #27aabe transparent transparent transparent;
}
.title > h4 {
  color: rgba(58, 58, 58, 0.8);
  margin-bottom: 20px;
}
.title > h1,
.title > h4 {
  text-align: center;
}
.title > h1 {
  margin: 20px 0;
}
.title > hr {
  margin: 40px auto;
  width: 5%;
  border-bottom: 0;
  border-top: 1px solid #fc8c5e;
  margin-top: 20px;
}
.btn-blk {
  padding: 10px;
  background-color: black;
  font-weight: bold;
}
/* HEADER */
header {
  padding: 5px 0;
  background-color: #27aabe;
  position: relative;
}
header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul li {
  display: inline-block;
  margin: 0 15px;
}
header ul > li > a {
  color: white;
}
header ul > li > i.fas {
  color: white;
  cursor: pointer;
}

/* JUMBOTRON */
#jumbotron {
  background-image: url(../img/home_slider_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  display: flex;
  align-items: center;
}
#jumbotron > .container {
  width: 70%; /* ALTRIMENTI NON MI CENTRA IL CONTAINER*/
  color: white;
}
#jumbotron h1 {
  font-size: 100px;
}
#jumbotron p {
  margin-top: 20px;
  margin-bottom: 30px;
  color: rgb(235, 235, 235);
  font-size: 18px;
}
#jumbotron a {
  background-color: #27aabe;
  padding: 10px;
  font-weight: bold;
}

/* DESCRIPTION */
#description {
  background-color: #f2f2f2;
  text-align: center;
  padding: 5% 0;
}
#description p {
  margin: auto;
  width: 60%;
  letter-spacing: 2px;
  line-height: 25px;
}

/* LATEST NEWS */
/* post */
#latest-news .title h1 {
  font-size: 30px;
}
#latest-news .post {
  display: flex;
  justify-content: space-between;
}
#latest-news .post > article {
  margin: 0 5px;
  flex-basis: calc((100% / 3) - 10px);
}
#latest-news .post > article > img {
  max-width: 100%;
}
#latest-news .post > article span {
  font-size: 12px;
}
#latest-news .post > article .comments-nr {
  font-weight: bold;
  color: grey;
}
#latest-news .post > article > p {
  font-size: 14px;
  line-height: 25px;
  padding-right: 5px;
  margin-top: 10px;
}
#latest-news .post > article > span,
#latest-news .post > article > p {
  color: #aeaeae;
}

/* center */
#latest-news .center {
  display: flex;
  margin: 40px 0;
  background-image: url(../img/featured_article_1_bg.jpg);
  background-size: cover;
  min-height: 500px;
  align-items: center;
  padding: 40px;
  color: white;
}
#latest-news .center .text > h1 {
  font-size: 30px;
}
#latest-news .center .text > span {
  letter-spacing: 2px;
}
#latest-news .center > .text *{
  margin: 20px;
}
#latest-news .center a {
  padding-left: 25px;
  padding-right: 25px;
  font-size: 12px;
  letter-spacing: 1px;
}

/* FOOTER */
#footerApp > .container {
  display: flex;
  justify-content: space-between;
}
#footerApp li {
  list-style-type: "\2023";
  padding-left: 5px;
}

/* DEBUG */
.container {
  /* border: 1px solid black; */
}
#jumbotron {
  border: 2px solid red;
}
#jumbotron > .container {
  /* border: 1px solid rgb(0, 0, 0); */
}
main > section {
  min-height: 300px;
  border: 5px solid rgb(0, 255, 64);
}
footer {
  min-height: 300px;
  background-color: royalblue;
}