<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <title>Avada Forum</title>
</head>
<body>
  
  <!-- HEADER -->
  <header id="headerApp">
    <div class="container">
      <div><img :src="logoPath" alt="logo"></div>
      <ul>
        <li v-for="link in headerLinks"><a href="#"> {{link}} </a></li>
        <li><i :class="searchIcon"></i></li>
      </ul>
    </div>
    <div class="triangle"></div>
  </header>

  <!-- JUMBOTRON -->
  <section id="jumbotron">
    <div class="container">
      jumbotron
    </div>
  </section>

  <!-- MAIN -->
  <main>

    <section id="description">
      <div class="container">
        description
      </div>
    </section>

    <section id="latest-news">
      <div class="container">
        latest-news
      </div>
    </section>

    <section id="read-blog">
      <div class="container">
        read-blog
      </div>
    </section>

    <section id="forum-sections">
      <div class="container">
        forum-sections
      </div>
    </section>

    <section id="goto-forum">
      <div class="container">
        goto-forum
      </div>
    </section>

    <section id="join">
      <div class="container">
        join
      </div>
    </section>

    <section id="newsletter">
      <div class="container">
        newsletter
      </div>
    </section>

  </main>

  <!-- FOOTER -->
  <footer id="footerApp">
    <div class="container">

      <div class="column">
        <h3>{{firstColumn.title}}</h3>
        <p>{{firstColumn.text}}</p>
      </div>

      <div class="column" v-for="(col, i) in footerLinks">
        <h3>{{col.title}}</h3>
        <ul>
          <li v-for="link in footerLinks[i].links">{{link}}</li>
        </ul>
      </div>

    </div>
  </footer>

  <script src="js/app.js"></script>
</body>
</html>