<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <title>Avada Forum</title>
</head>
<body>
  
  <!-- HEADER -->
  <header id="headerApp">
    <div class="container">
      <div><img :src="logoPath" alt="logo"></div>
      <ul>
        <li v-for="link in headerLinks" :class="link === 'JOIN US' ? 'btn-blk' : ''"><a href="#"> {{link}} </a></li>
        <li><i :class="searchIcon"></i></li>
      </ul>
    </div>
    <div class="triangle"></div>
  </header>

  <!-- JUMBOTRON -->
  <section id="jumbotron">
    <div class="container">
      <h1>Tech Forum!</h1>
      <p>Discuss all the latest technology news and trends</p>
      <a href="#">GET AVADA NOW ></a>
    </div>
  </section>

  <!-- MAIN -->
  <main>

    <section id="description">
      <div class="container">

        <div class="title">
          <h4>AVADA FORUM IS THE PLACE TO BE</h4>
        </div>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse hic dolore.
          expedita provident nam amet unde ducimus necessitatibus facere debitis.
          aliquid incidunt officiis sit, doloribus temporibus recusandae, fugiat in.
        </p>
      </div>
    </section>

    <section id="latest-news">
      <div class="container">

        <div class="title">
          <h4>AVADA FORUM IS THE PLACE TO BE</h4>
          <h1>All the latest news</h1>
          <hr>
        </div>

        <div class="post">

          <article>
            <img src="img/post_feat_img_25-700x441.jpg" alt="post_1">
            <h4>Post title 1</h4>
            <span>October 11th, 2015 | </span><span class="comments-nr">2 Comments</span>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, voluptas asperiores commodi culpa quas corrupti corpori
            </p>
          </article>

          <article>
            <img src="img/post_feat_img_24-700x441.jpg" alt="post_2">
            <h4>Post title 1</h4>
            <span>October 11th, 2015 | </span><span>Comments Off</span>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, voluptas asperiores commodi culpa quas corrupti
              corpori
            </p>
          </article>

          <article>
            <img src="img/post_feat_img_23-700x441.jpg" alt="post_3">
            <h4>Post title 1</h4>
            <span>October 11th, 2015 | </span><span>Comments Off</span>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, voluptas asperiores commodi culpa quas corrupti
              corpori
            </p>
          </article>

        </div>

        <div class="center">
          <div class="text">
            <span>FEATURED ARTICLE</span>
            <h1>All the latest news</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, asperiores amet non nulla perferendis dignissimos repudiandae delectus voluptas magni accusantium velit eligendi.asperiores amet non nulla perferendis dignissimos repudiandae delectus voluptas magni accusantium velit eligendi.
            </p>
            <a href="#" class="btn-blk">READ MORE ></a>
          </div>
        </div>

        <div class="post">
          <article>
            <img src="img/post_feat_img_22-700x441.jpg" alt="post_1">
            <h4>Post title 1</h4>
            <span>October 11th, 2015 | </span><span>Comments Off</span>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, voluptas asperiores commodi culpa quas corrupti
              corpori
            </p>
          </article>
          
          <article>
            <img src="img/post_feat_img_21-700x441.jpg" alt="post_2">
            <h4>Post title 1</h4>
            <span>October 11th, 2015 | </span><span>Comments Off</span>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, voluptas asperiores commodi culpa quas corrupti
              corpori
            </p>
          </article>
          
          <article>
            <img src="img/post_feat_img_20-700x441.jpg" alt="post_3">
            <h4>Post title 1</h4>
            <span>October 11th, 2015 | </span><span>Comments Off</span>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, voluptas asperiores commodi culpa quas corrupti
              corpori
            </p>
          </article>

        </div>

        <div class="bottom">
          <div class="left">
            <div class="text">
              <span>REVIEWED PRODUCT</span>
              <h1>Mauris viverra atisan ege felis prims efficitur varius</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Similique, asperiores amet non nulla perferendis
              </p>
              <a href="#" class="btn-blk">READ MORE ></a>
            </div>
          </div>
          <div class="right">
            <div class="title">
              <h1>Tutorial & Guides</h1>
              <hr>
            </div>

            <div id="tutorial" class="post">

              <article>
                <img src="img/post_feat_img_23-700x441.jpg" alt="post_3">
                <div class="info">
                  <h4>Post title 333333 333333333 333</h4>
                  <span>October 11th, 2015 | </span><span>Comments Off</span>
                </div>
              </article>

              <article>
                <img src="img/post_feat_img_22-700x441.jpg" alt="post_3">
                <div class="info">
                  <h4>Post title 33333333 3333333333</h4>
                  <span>October 11th, 2015 | </span><span>Comments Off</span>
                </div>
              </article>

              <article>
                <img src="img/post_feat_img_20-700x441.jpg" alt="post_3">
                <div class="info">
                  <h4>Post title 333 333333 333333333</h4>
                  <span>October 11th, 2015 | </span><span>Comments Off</span>
                </div>
              </article>

              

            </div>
          </div>
        </div>

      </div>
    </section>

    <section id="read-blog">
      <div class="container">
        read-blog
      </div>
    </section>

    <section id="forum-sections">
      <div class="container">
        forum-sections
      </div>
    </section>

    <section id="goto-forum">
      <div class="container">
        goto-forum
      </div>
    </section>

    <section id="join">
      <div class="container">
        join
      </div>
    </section>

    <section id="newsletter">
      <div class="container">
        newsletter
      </div>
    </section>

  </main>

  <!-- FOOTER -->
  <footer id="footerApp">
    <div class="container">

      <div class="column">
        <h3>{{firstColumn.title}}</h3>
        <p>{{firstColumn.text}}</p>
      </div>

      <div class="column" v-for="(col, i) in footerLinks">
        <h3>{{col.title}}</h3>
        <ul>
          <li v-for="link in footerLinks[i].links">{{link}}</li>
        </ul>
      </div>

    </div>
  </footer>

  <script src="js/app.js"></script>
</body>
</html>